  {% load static %}
  <div class="row border-bottom white-bg">
        <nav class="navbar navbar-expand-lg navbar-static-top" role="navigation">
            <!--<div class="navbar-header">-->
                <!--<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">-->
                    <!--<i class="fa fa-reorder"></i>-->
                <!--</button>-->

                <a href="#" class="navbar-brand">{{keywords}}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-reorder">展开菜单</i>
                </button>

            <!--</div>-->
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav mr-auto">
                    <li class="active">
                        <a aria-expanded="false" role="button" href="/"> 前端首页 </a>
                        
                        
                    </li>

                   

                       <li class="active">
                           <a aria-expanded="false" role="button" href="/mulu/"> 栏目演示</a>
                    </li>
                       <li class="active">
                          <a aria-expanded="false" role="button" href="/zimulu/"> 子栏目 </a>
                    </li>
                        <li class="active">
                          <a aria-expanded="false" role="button" href="/new"> 内容页地址 </a>
                    </li>

                     <li class="active">


                  



     

                </ul>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a href="#">
                            <i class="fa fa-sign-out" target="_blank"></i> 前台注册
                        </a>

                    </li>

                      <li>
                        <a href="/dngadmin/longin/" target="_blank">
                            <i class="fa fa-sign-out"></i> 后台登录
                        </a>
                        
                    </li>
                </ul>
            </div>
        </nav>
        </div>