{% load static %}


<!DOCTYPE html>
<html>


<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>


    <meta name="keywords" content=" {{ keywords }} "/>
    <meta name="description" content="{{ description }} "/>

</head>

<body class="top-navigation">

<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">

        {% include 'html/head.html' %}  <!--公共头部导航-->

        <div class="wrapper wrapper-content">
            <div class="container">

                <div class="row">
            <div class="col-sm-12">
                <div class="widget navy-bg no-padding">
                    <div class="p-m">
                        <h1 class="m-xs">横幅广告:地图页预留地址，根据自己开发需求修改</h1>



                                                URL路径变更路由地址：根目录/app/html_urls.py<br>

                                                内容展示控制地址：根目录/app/html_views.py<br>

                                                公共头部模板地址：根目录/app/Templates/html/head.html<br>

                                                主体模板地址：根目录/app/Templates/html/sitemap.html<br>
                                                公共尾部模板地址：根目录/app/Templates/html/footer.html<br>
                    </div>

                </div>
            </div>

        </div>
                <div class="row wrapper border-bottom  page-heading">
                    <div class="col-lg-10">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="" _msthash="966589"
                                                           _msttexthash="2136498">网站导航</a></li>
                            <li class="breadcrumb-item"><a _msthash="966590" _msttexthash="4752878">目录一</a></li>
                            <li class="breadcrumb-item active"><strong _msthash="966591"
                                                                       _msttexthash="12350910">子目录二</strong></li>
                        </ol>
                    </div>
                    <div class="col-lg-2"></div>

                </div>
                <br>
                <div class="row">



                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content mailbox-content">
                                <div class="file-manager">


                                    <h5 class="tag-title">网站SEO地图</h5>
                                    <ul class="tag-list" style="padding: 0">
                                         <li><a href=""><i class="fa fa-tag"></i> 网站标签</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> Python</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> django</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> SEO优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站建设</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站排名</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> DNG系统</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站标签</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站标签</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> Python</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> django</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> SEO优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站建设</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站排名</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> DNG系统</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站标签</a>
                                        </li>
                                         <li><a href=""><i class="fa fa-tag"></i> 网站标签</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> Python</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> django</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> SEO优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站建设</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站排名</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> DNG系统</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站标签</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> Python</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> django</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> SEO优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站建设</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站排名</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> DNG系统</a>
                                        </li><li><a href=""><i class="fa fa-tag"></i> 网站标签</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> Python</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> django</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> SEO优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站建设</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站排名</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> DNG系统</a>
                                        </li><li><a href=""><i class="fa fa-tag"></i> 网站标签</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> Python</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> django</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> SEO优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站建设</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站排名</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> DNG系统</a>
                                        </li><li><a href=""><i class="fa fa-tag"></i> 网站标签</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> Python</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> django</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> SEO优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站建设</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站排名</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> DNG系统</a>
                                        </li><li><a href=""><i class="fa fa-tag"></i> 网站标签</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> Python</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> django</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> SEO优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站建设</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站排名</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> DNG系统</a>
                                        </li><li><a href=""><i class="fa fa-tag"></i> 网站标签</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> Python</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> django</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> SEO优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站建设</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站排名</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> DNG系统</a>
                                        </li><li><a href=""><i class="fa fa-tag"></i> 网站标签</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> Python</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> django</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> SEO优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站建设</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站排名</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> DNG系统</a>
                                        </li><li><a href=""><i class="fa fa-tag"></i> 网站标签</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> Python</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> django</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> SEO优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站建设</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站排名</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> DNG系统</a>
                                        </li><li><a href=""><i class="fa fa-tag"></i> 网站标签</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> Python</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> django</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> SEO优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站建设</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站排名</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> DNG系统</a>
                                        </li><li><a href=""><i class="fa fa-tag"></i> 网站标签</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> Python</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> django</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> SEO优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站建设</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站排名</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> DNG系统</a>
                                        </li><li><a href=""><i class="fa fa-tag"></i> 网站标签</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> Python</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> django</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> SEO优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站建设</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站排名</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> DNG系统</a>
                                        </li><li><a href=""><i class="fa fa-tag"></i> 网站标签</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> Python</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> django</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> SEO优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站建设</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站排名</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> DNG系统</a>
                                        </li><li><a href=""><i class="fa fa-tag"></i> 网站标签</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> Python</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> django</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> SEO优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站建设</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站排名</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> DNG系统</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站标签</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> Python</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> django</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> SEO优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站建设</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站排名</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> DNG系统</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站标签</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> Python</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> django</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> SEO优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站建设</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站排名</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> DNG系统</a>
                                        </li><li><a href=""><i class="fa fa-tag"></i> 网站标签</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> Python</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> django</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> SEO优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站建设</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站排名</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> DNG系统</a>
                                        </li><li><a href=""><i class="fa fa-tag"></i> 网站标签</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> Python</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> django</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> SEO优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站建设</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站排名</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> DNG系统</a>
                                        </li><li><a href=""><i class="fa fa-tag"></i> 网站标签</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> Python</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> django</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> SEO优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站建设</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站排名</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> DNG系统</a>
                                        </li><li><a href=""><i class="fa fa-tag"></i> 网站标签</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> Python</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> django</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> SEO优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站建设</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站排名</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> DNG系统</a>
                                        </li><li><a href=""><i class="fa fa-tag"></i> 网站标签</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> Python</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> django</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> SEO优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站建设</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站排名</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> DNG系统</a>
                                        </li><li><a href=""><i class="fa fa-tag"></i> 网站标签</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> Python</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> django</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> SEO优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站建设</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站排名</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> DNG系统</a>
                                        </li><li><a href=""><i class="fa fa-tag"></i> 网站标签</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> Python</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> django</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> SEO优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站建设</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站排名</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> DNG系统</a>
                                        </li><li><a href=""><i class="fa fa-tag"></i> 网站标签</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> Python</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> django</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> SEO优化</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站建设</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-tag"></i> 网站排名</a>
                                        </li>



                                    </ul>
                                    <div class="clearfix"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-white"><i class="fa fa-chevron-left"></i>
                        </button>
                        <button class="btn btn-white active">1</button>
                        <button class="btn btn-white">2</button>
                        <button class="btn btn-white">3</button>
                        <button class="btn btn-white">4</button>
                        <button class="btn btn-white">5</button>
                        <button class="btn btn-white">6</button>
                        <button class="btn btn-white">7</button>
                        <button class="btn btn-white">8</button>
                        <button class="btn btn-white">9</button>
                        <button class="btn btn-white">10</button>
                        <button class="btn btn-white">11</button>
                        <button class="btn btn-white">12</button>
                        <button class="btn btn-white">13</button>
                        <button class="btn btn-white">14</button>
                        <button class="btn btn-white">15</button>
                        <button class="btn btn-white">16</button>
                        <button class="btn btn-white">17</button>
                        <button class="btn btn-white">18</button>
                        <button class="btn btn-white">19</button>
                        <button class="btn btn-white">20</button>


                        <button type="button" class="btn btn-white"><i class="fa fa-chevron-right"></i>
                        </button>
                    </div>

                </div>

                <br>
                <br>






            </div>

        </div>


        {% include 'html/footer.html' %}  <!--公共尾部-->
    </div>
</div>
</body>

</html>
