asn1crypto==0.24.0
certifi==2018.1.18
cffi==1.13.2
chardet==3.0.4
cryptography==2.1.4
Django==3.2.6
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
gunicorn==20.0.4
idna==2.6
jeepney==0.6.0
keyring==10.6.0
keyrings.alt==3.0
mysqlclient==2.0.3
netifaces==0.10.4
Pillow==8.3.1
pyasn1==0.4.8
pycparser==2.19
pycrypto==2.6.1
PyMySQL==0.9.3
pytz==2019.3
pyxdg==0.25
PyYAML==3.12
requests==2.18.4
rsa==4.7.2
SecretStorage==2.3.1
six==1.11.0
sqlparse==0.3.0
urllib3==1.22
